* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*globel*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(23, 24, 30);
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

header {
    color: white;
    padding: 20px 0px;
    text-align: center;
    background-color: rgb(73, 194, 194);
    transition: .3s;
}

header * {
    padding-bottom: 10px;
}

.color {
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    opacity: 1;
}

.color:hover {
    border: 5px solid white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer {
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(73, 194, 194);
    color: white;
    font-weight: bold;
    margin-top: auto;
}

/*IDs*/

#navbar {
    background-color: white;
    color: rgb(73, 194, 194);
    justify-content: space-evenly;
    padding: 0px 10px;
    font-weight: bold;
}

#navbar *:hover {
    background-color: rgb(73, 194, 194);
    color: white;
    cursor: pointer;
}

#navbar p, #mode * {
    padding: 10px;
    transition: .3s;
}

#wrong {
    visibility: hidden;
}

#mode * {
    display: inline-block;
}

#mode #hard {
    padding-left: 10px;
}

#colors {
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 150px;
    grid-gap: 1rem;
}

/* class to add with javascript*/

.selected {
    background-color: rgb(73, 194, 194);
    color: white;
}

.hide {
    opacity: 0;
}

/*media*/

@media screen and (max-width:500px) {
    #colors {
        grid-template-columns: repeat(3, 70px);
        grid-auto-rows: 70px;
    }
}